/* ------------------------------- Main Overridings */
body {
	width: 960px;
	margin: auto;
	font-family: Verdana, Arial;
	font-size: 14px;
	padding: 40px 0px 0px 0px;
	background-color: white;
  overflow: scroll;
  background: url(../images/specimen.gif);
}
a { cursor: pointer; }
img { border: none;}
div.left { clear: left; }
div.right { clear: right; }
div.clear { clear: both; }
* { line-height: 19px; }

/* ------------------------------- Header */
#banner {
	padding: 10px;
	padding-bottom: 0px;
	border-bottom: 1px solid #CF4500;
}
#banner h1 {
	position: absolute;
	top: 40px;
	font-variant: small-caps;
	padding: 0px;
	margin: 0px;
  color: #820000;
}
#banner h1 a, #banner h1 a:visited, #banner h1 a:hover {
	color: #820000;
	text-decoration: none;
}
#organizers { float: right; margin-bottom: 20px; }
#banner h2 {
	float: left;
	font-style: italic;
	font-size: 1em;
	padding: 0px;
	position: absolute;
	top: 65px;
	padding-left: 100px;
	margin: 0px;
	font-family: Arial;
	color: #CF4500;
}
#links {
	margin: 0px;
	padding: 0px;
	margin-bottom: 15px;
	padding-bottom: 5px;
	width: 100%;
	border-bottom: 1px solid #CF4500;
	text-align: right;
}
#links li {
	display: inline;
	padding: 3px;
	margin: 0px 3px;
	list-style: none;
}
#links li a, #links li a:visited {
	color: #CF4500;
	text-decoration: none;
}
#links li a:hover {
	text-decoration: underline;
}
	

/* ------------------------------- Menu */
ul#menu { clear: both; font-size: 1em; }
ul#menu li {
	display: block;
	float: left;
	list-style : none;
	width: 80px;
  border: 1px solid #CF4500;
  border-bottom: none;
  background-color: white;
  padding: 3px 3px 3px 3px;
  margin-left: 5px;
  text-align: center;
}
ul#menu li a, ul#menu li a:visited { color: #CF4500; text-decoration: none; }
ul#menu li:hover { cursor: pointer; background-color: #CF4500; }
ul#menu li:hover a { color: white; }
ul#menu li.current { background-color: #CF4500; }
ul#menu li.current a, ul#menu li.current a:visited { color: white; }
ul#menu li.last { width: 150px; }

/* ------------------------------- Footer */
#footer {
	border-top: 1px solid #CF4500;
	clear: both;
}

/* ------------------------------- All the static text is driven by the following rules */
#content .pagebody {
	padding-top: 20px;
}
#content {
	padding: 10px;
	padding-top: 5px;
	padding-top: 0px;
  text-align: justify;
}
#content h3 {
	color: #820000;
	font-size: 1.4em;
	font-variant: small-caps;
}
#content p, #content dl {
	padding-left: 20px;
	padding-right: 10px;
}
#content dl dt {
	font-weight: bold;
}
#content ol, #content ul {
	padding-left: 60px;
	padding-right: 10px;
}
#content ol li, #content ul li {
	padding-bottom: 3px;
}
#content a, #content a:visited {
	text-decoration: none;
	color: #CF4500;
}
#content a:hover {
	text-decoration: underline;
}
#content img {
	display: block;
	padding: 0px;
	margin: auto;
}
#popup img {
	display: block;
	margin: auto;
}
#content table {
	font-family: Arial;
	margin: auto;
	margin-top: 20px; margin-bottom: 20px;
	border-collapse: collapse;
	border: 1px solid black;
}
#content table.left { float: left; margin-left: 50px;}
#content table.right { float: right; margin-right: 50px;}
#content table td, #content table th, #content table tr td.th  {
	padding: 3px 10px 3px 10px;
	border: 1px solid black;
	text-align: center;
}
#content table caption {
	font-variant: small-caps;
	font-size: 1.2em;
	font-weight: bold;
	padding-bottom: 10px;
}
#content table th, #content table td.th { font-weight: normal; }
#content table td { color: #CF4500; }
#content table td a:hover { font-weight: bold; }
#content table td.th  { color: black; }

#content dl dt { padding-bottom: 2px; }
#content pre { background: #222222; color: white; padding: 5px; padding-left:10px; margin:5px; margin-left: 30px;}
#content pre.left { text-align: left; }
#content div.math {
	padding-left: 100px;
}
#content div.news table {
	float: left;
}

#content table.competition-grid td { width: 130px; color: black; }
#content table.competition-grid td.th { width: auto; color: black; }

#content table tr td.broken     { background-color: #7FF100; }
#content table tr td.pending    { background-color: #FFFF4D; }
#content table tr td.active,
#content table tr td.inactive   { background-color: white; }

#compete table tr td.broken     { background-color: #7FF100; }
#compete table tr td.pending    { background-color: #FFFF4D; }
#compete table tr td.active     { background-color: #CCCCCC; }
#compete table tr td.inactive   { background-color: white; }
#compete table tr td            { color: black; }
#compete table.legend           { margin-left: 45px; }

#compete table tr td .broken   { font-weight: bold; color: green; }
#compete table tr td .pending,  
#compete table tr td .active   { font-weight: bold; color: #FF8C00; }  
#compete table tr td .inactive { color: black; }
#compete table tr td a         { color: black; }
#compete table tr td.left { text-align: left; }

span.winners { background-color: #7FF100; padding: 3px 3px; }
span.pending { background-color: #FFFF4D; padding: 3px 3px; }

#content table.submission-grid { margin-top: 0px; }
#content input.submit {float: right; margin-top:10px;}
table.submission-grid tr td { width: 100px; }
table.submission-grid tr td.th { width: auto; }

form#problem-based-submission-form,
form#cell-based-submission-form {
	margin-left: 25px;
	float: left;
}
form span#problem-id,
form span#cell-id { font-style: italic;}
form label {
	margin:0px; padding:0px;
	padding-bottom: 3px;
	display: block;
}



form {
	font-family: "Myriad Pro", "Arial", sans-serif;
/*	font-size: 90%; */
}
form p.feedback {
	display: none;
	border: 1px solid #2aa2d8;
	background: #f2f9fd;
	padding: 5px;
	margin-bottom: 20px;
}
form p.feedback ul {
	margin: 0px;
	padding: 0px;
	margin-left: 25px;
	width: 100%;
}
form.form-followed {
	float: left;
	margin: 0 0 20px 0;
}
form p {
	margin: 0 0 10px 0;
	padding: 0;
	line-height: normal;
	text-align: justify;
}
h4 {
	font-size: 18px;
	color: #CF4500;
	margin: 0px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 0px;
}
form a, form a:visited {
	color: blue;
	text-decoration: underline;
}
form label {
	display: block;
	line-height: 1.6em;
}
form input {
	display: block;
}
form textarea {
	height: 100px;
}
form fieldset {
	margin: 2em 0 0 0;
	padding: 10px 0 0 0;
	border: 0px none;
	border-top: 3px solid #f1f1f1;
}
form legend {
	margin: 0 10px;
	padding: 0 10px;
	font-size: 1.2em;
}
form.form-300 {
	width: 300px;
}
form.form-300 p.span-3 {
	width: 300px;
	clear: left;
}
form.form-300 p.span-3 input {
	width: 296px;
}
form.form-300 input.checkbox {
	display: inline;
	width: 20px;
}
form.form-300 p.form-button {
	width: 300px;
	line-height: 22px;
}
form.form-300 p.form-button input {
	width: auto;
	float: left;
	margin: 0 10px 0 0;
}
form.form-460 {
	width: 460px;
}
form.form-460 fieldset {
	width: 460px;
}
form.form-460 p.span-1 {
	width: 105px;
	float: left;
	margin-right: 10px;
}
form.form-460 p.span-1-last {
	width: 115px;
	float: left;
}
form.form-460 p.span-1 select,
form.form-460 p.span-1 textarea,
form.form-460 p.span-1 input {
	width: 101px;
}
form.form-460 p.span-1-last select,
form.form-460 p.span-1-last textarea,
form.form-460 p.span-1-last input {
	width: 111px;
}
form.form-460 p.span-2 {
	width: 220px;
	float: left;
	margin-right: 10px;
}
form.form-460 p.span-2-last {
	width: 230px;
	float: left;
	margin-right: 0px;
}
form.form-460 p.span-2 select,
form.form-460 p.span-2 textarea,
form.form-460 p.span-2 input {
	width: 216px;
}
form.form-460 p.span-2-last textarea,
form.form-460 p.span-2-last input {
	width: 226px;
}
form.form-460 p.span-3 {
	width: 335px;
	float: left;
	margin-right: 10px;
}
form.form-460 p.span-3-last {
	width: 345px;
	float: left;
}
form.form-460 p.span-3 select,
form.form-460 p.span-3 textarea,
form.form-460 p.span-3 input {
	width: 331px;
}
form.form-460 p.span-3-last textarea,
form.form-460 p.span-3-last input {
	width: 341px;
}
form.form-460 p.span-4 {
	width: 460px;
	clear: left;
}
form.form-460 p.span-4-checkbox {
	width: 460px;
	clear: left;
}
form.form-460 p.span-4-checkbox input,
form.form-460 p.span-4-checkbox label {
	display: inline;
}
form.form-460 p.span-4 select,
form.form-460 p.span-4 textarea,
form.form-460 p.span-4 input {
	width: 456px;
}
form.form-460 p.form-button {
	width: 460px;
	line-height: 22px;
}
form.form-460 p.form-button input {
	width: auto;
	float: left;
	margin: 0 10px 0 0;
}

#hide {
	background-image: url(../images/hide.gif);
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
#popup {
	font-family: "Myriad Pro", "Arial", sans-serif;
	display: none;
	position: absolute;
	top: 50px;
	left: 50%;
	background: #fff;
	border: 5px solid #000;
	font-size: 90%;
	padding: 20px;
}
#popup a {
	color: blue;
}
#popup p {
	text-align: justify;
	line-height: normal;
}
#popup pre { background: #222222; color: white; padding: 5px; padding-left: 10px; margin:5px;}
#popup img { margin: 15px auto; }

div#compete {
	width: 100%;
	margin: auto;
	padding-top: 20px;
}
ul#challengers {
	width: 130px;
	margin: 0px;
	padding: 0px;
	margin-left: 20px;
	float: left;
}
ul#challengers li {
	list-style: none;
	width: 125px;
	padding: 3px;
	margin: 0px;
	text-align: center;
	border-top: 1px solid black;
}
ul#challengers li.current {
	font-style: italic;
	font-weight: bold;
}
.competitor-grids {
	width: 725px;
	float: left;
	padding-left: 30px;
	margin-bottom: 20px;
	border-left: 1px solid black;
}


#cell_submission_fields { margin: auto; }
#cell_submission_fields tr td { text-align: left; }
#cell_submission_fields textarea { height: 50px; width: 350px; }
